section{s
    position: relative;
    padding: 68px 0 0 80px;
}
header{
    width: 970px;
    margin-bottom: 100px;
}
.logo{
    max-width: 403px;
    width: 100%;
}

h1{
    font-size: 42px;
    line-height: 50.83px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    padding-left: 625px;
}
.article-wrap p{
    font-size: 18px;
    color: #8692A6;
    line-height: 28px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    padding: 12px 0 40px 600px;
}
.box{
    width: 972px;
    height: 1024px;
}
.left-box{
    width: 507px;
    height: 311px;
    top: 277px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px; 
    border: 1px solid #1565D8;
    border-radius: 16px;
}
.img-wraper{
    width: 473px;
    height: 21px;
    color: #1565D8;
}
.text-wrapper{
    width: 473px;
    padding-top: 21px;
    height: 164px;
}
.text-wrapper p{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    line-height: 38px;
}
.divh2{
    width: 125px;
    padding-top: 40px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 38px;
    color: rgba(21, 101, 216, 0.6);
}
.img-wraper-2{
    width: 336px;
    left: 270px;
    position: absolute;
}
.main-box{
    display: flex;
    justify-content: space-between;
}
.right-box{
    position: relative;
    width: 411px;
}
/* right box */
.logos{
    display: flex;
    justify-content: space-around;
}
.gmail-logo{
    box-shadow: .50em .750em 1em;
}
.img-size{
    width: 65px;
    height: 65px;
    padding: 16px;
}
.twitter-logo{
    padding: 16px;
    box-shadow: .75em .75em 1em;
    width: 65px;
    height: 65px;
}
.linkden-logo{
    padding: 16px;
    box-shadow: .75em .75em 1em;
    width: 65px;
    height: 65px;
}
.github-logo{
    padding: 16px;
    box-shadow: .75em .75em 1em;
    width: 65px;
    height: 65px;
}
h4{
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: center;
    padding: 40px 0px 28px 0px;
}
.frame{
    width: 426px;
    height: 64px;
    border: 1px solid #8692A6;
    border-radius: 6px;
    margin-top: 14px;
    margin-bottom: 24px;
}
label{
    font-size: 16px;
    color: #696F79;
    line-height: 19.36px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}
#email{
    color: #8692A6;
}
span{
    position: absolute;
    right: 15px;
    bottom: 305px;
}
.fa{
    width: 24px;
    color: #696F79;
}
#strength-bar{
    display: flex;
}
#strenght-bar-left {
    background-color: #FFC107;
    height: 4px;
    width: 280px;
    position: relative;
    border-radius: 0 0 5px 5px;
}
#strenght-bar-right {
    background-color: #C4C4C4;
    height: 4px;
    width: 146px;
    position: relative;
    border-radius: 0 0 5px 5px;
}
#msg{
    width: 100%;
    font-size: 14px;
    margin-top: 5px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}
#checkbox-1{
    width: 24px;
    height: 24px;
}
.checkbox-wrap{
    padding-top: 32px;
}
.button{
    background: #1565D8;
    color: white;
    width: 425px;
    height: 64px;
    margin-top:36px ;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}
h5{
    margin-top: 27px;
    text-align: center;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}
u{
    color: blue;
}